/* Making site resonsive on mobile screen */
@media screen and (max-width: 680px) {

    /* Home Page */
    .home {
        margin-top: 0;
        width: 115%;
    }

    .home .home-img img {
        margin-top: 2rem;
        width: 114%;
        height: 76%;
    }

    .home .home-title {
        width: 80vw;
    }

    .home .home-desc {
        width: 75vw;
    }

    /* Productive Section */
    .features .productive-section img {
        width: 25rem;
        height: 22rem;
    }

    .features .productive-section {
        width: 100%;
    }

    .features-cards {
        padding: 0;
        width: 110vw;
    }

    /* User Profiles Cards */
    .user-cards {
        width: 116%;
    }

    /* Signup Section */
    .signup form {
        width: 89%;
        flex-direction: column;
    }

    .signup form button {
        font-size: 14px;
        padding: 10px 30px;
        width: 76%;
        margin-top: 10px;
        font-weight: 600;
    }

    /* Bottom Section */
    .bottom {
        width: 120%;
    }

    /* footer */
    .footer {
        width: 117%;
    }
}