@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

body {
    margin: 0;
    padding: 0;
    background: #1C2230;
}

/* Navbar */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 20px;
}

/* Logo */
nav .logo {
    width: 126px;
    height: 37px;
}

nav .logo img {
    width: 100%;
    height: 100%;
}

/* Links */
nav .links a {
    text-decoration: none;
    color: #CCCCCC;
    font-family: 'Raleway', sans-serif;
    font-size: 13px;
    font-weight: 300;
    padding: 20px;
    cursor: pointer;
}
